.title{
    margin-top: 1rem;
    margin-left: 2rem;
    color: white;
    font-size: 3rem;
}

.instructions{
    margin-top: 1rem;
    margin-left: 2rem;
    color: var(--color-four);
    font-size: 1.2rem;
}