.board{
    margin: auto;
    height: 520px;
    width: 800px;
    background-color: #053f5e;
    margin-top: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 2px 15px 15px rgba(24, 23, 23, 0.7);
    perspective: 20;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

