
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightblue : #0e49b5;
  --yellow : #fffaa4;
  --red : rgb(255, 95, 67);
  --color-one: #022C43;
  --color-two: #053f5e; 
  --color-three: #115173;
  --color-four: rgb(228, 196, 17);
  --color-five : #2b6f94;
  --color-six: #acd0e4; 
}

html{
  background-color: black;
}

body{
  min-height: 100vh;
  background: radial-gradient( var(--color-six) 10%, var(--color-one) 15%, black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}



button{
  cursor: pointer;
  outline: none;
}

button:active{
  transform: scale(1.02);
}