.message{
    height: 60px;
    width: 480px;
    background-color: rgba(17, 16, 16, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    bottom:0;
    left: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.message span{
    color: palegreen;
}