.space{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--color-six);
    display: inline-block;
    position: relative;
    border: 2px solid black;
}

.space.one{
    background-color: var(--yellow);

}

.space.two{
    background-color: var(--red);
}